
.wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 400px;
   background-color: #0ef;
   margin: 18% 40% ;
   border-radius: 20px;
   padding: 40px;
   color: black
};


.form-wraper{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
};

.input-group > label{
   margin: 10px 0;
   top: 50%;
   left: 5px;
   transform: translateY(-50%);
};

