*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h1{
    margin: 10px;

}
.box{
    margin: 20px;
    background-color: aqua;
    width: 200px;
    height: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.6s ease;
    overflow-x: hidden;
}
.box:nth-of-type(even){
    transform: translateX(-200%);
}
.box.show{
    transform: translateX(0);
}
