.coverS{
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156,156,156);
  left: 40em;
  top: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: black;
  background-color: #fff;
}


.alt_login div {
  width: 45%;
  height: 90%;
  background-color:#fff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}


.sign_btn{
  width: 40%;
  height: 3em;
  background-color: rgb(32, 177,255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.sign_btn:hover{
  transform: scale(1.25);
}

