/* way to add custom properties  to the CSS
In CSS, :root is a pseudo-class that represents the highest-level parent 
element in the document hierarchy, which is typically the <html> element. 
It is commonly used to define global CSS variables or custom properties.
*/
:root{
    --line-border-fill: #3498db;
    --line-border-empty: #999;
}

*{
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    font-size: 20px;
}
.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: .4s ease;
}
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: .4s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
}

.btn{
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    padding: 8px 30px;
    margin: 20px;
}

.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}